.headline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickettext {
    display: flex;
    justify-content: center;
    align-items: center;
    textarea {
        min-width: 350px;
        min-height: 150px;
        border: 1px dashed black;
        outline: none;
    }
}

.buttons-container {
    margin-top: 24px;
    min-width: 350px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    button {
        height: 35px;
        width: 80px;
    }
    .changeprioritylow {
        width: 35px;
        height: 25px;
        border-radius: 2px;
        background-color: #5fad5e;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 8px;
    }
    .changeprioritysoon {
        width: 35px;
        height: 25px;
        border-radius: 2px;
        background-color: #76b09c;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 8px;
    }
    .changepriorityhigh {
        width: 35px;
        height: 25px;
        border-radius: 2px;
        background-color: #f78205;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 8px;
    }
    .changepriorityveryurgent {
        width: 35px;
        height: 25px;
        border-radius: 2px;
        background-color: #d60404;
        cursor: pointer;
        margin-right: 8px;
        margin-left: 8px;
    }
}

@media (max-width: 600px) {
    .buttons-container {
        min-width: 200px;
        width: 250px;
        padding: 2px;
        button {
            height: 35px;
            width: 40px;
            margin-left: -20px;
        }
        .changeprioritylow {
            margin-left: -10px;
            margin-right: 2px;
        }
        .changeprioritysoon {
            margin-right: 2px;
            margin-left: 2px;
        }
        .changepriorityhigh {
            margin-right: 2px;
            margin-left: 2px; 
        }
        .changepriorityveryurgent {
            margin-right: 2px;
            margin-left: 2px; 
        }
    }

    .tickettext {
        textarea {
            min-width: 250px;
            min-height: 100px;
           
        }
    }
}