.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e0e0e0;
    height: max-content;
    // background: linear-gradient(130deg, rgba(33, 33, 33, 1) 9%, rgba(139, 129, 129, 1) 34%, rgba(80, 54, 54, 1) 77%, rgba(218, 16, 16, 1) 99%);
}

.projects-card {
    min-height: 200px;
    max-height: 200px;
    min-width: 230px;
    max-width: 300px;
    border: 2px solid rgb(186, 204, 211);
    background-color: white;
    margin: 16px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
}

mat-card-header {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

mat-card-content {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    input {
        min-height: 25px;
    }
}

mat-card-actions {
    display: flex;
    justify-content: center;
}