.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-card {
    min-height: 200px;
    min-width: 230px;
    max-width: 300px;
    border: 2px solid rgb(186, 204, 211);
    background-color: white;
    margin: 16px;
}

mat-card-header {
    margin-bottom: 25px;
}

mat-card-content {
    margin-bottom: 0;
    input {
        min-height: 25px;
    }
}