.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../../assets/img/Logo.png');
}

.loginDialog {
    position: absolute;
    height: 80vh;
    width: 60vw;
    background-color: darkred;
    border-radius: 8px;
    box-shadow: 0px -1px 9px 12px rgb(0 0 0 / 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        margin-top: -40px;
        color: whitesmoke;
    }
}

.my-form {
    min-width: 150px;
    max-width: 500px;
    width: 80%;
}

.full-width {
    width: 80%;
}

mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 600px) {
    .login-container {
        height: 90vh; 
    }
    .loginDialog {
        height: 75vh;
        width: 82vw;
        h1 {
          text-align: center;
        }
    }

    mat-card-content {
       padding: 20px;
       max-width: 150px;
    }
}

@media (orientation: landscape) {
    .loginDialog {
        top: 70px;
        height: 76vh;
        width: 72vw;
        h1 {
          display: none;
        }
    }

    mat-card-content {
        padding: 20px;
        max-width: 300px;
        max-height: 50px;
    }

    mat-card-actions {
        margin-bottom: 0;
    }
}