<mat-toolbar class="section2" *ngIf="user">
    <!-- -->
    <img src="assets/img/Logo.png">

    <button mat-icon-button *ngIf="smartphonemenu" class="pin-right-upper-corner" [matMenuTriggerFor]="smartphoneMenu">
        <mat-icon>view_headline</mat-icon>
    </button>

    <mat-menu #smartphoneMenu="matMenu">
        <div class="linkssmartphone-positioning">
            <a routerLink="/projects/{{user.uid}}">Projects</a>
            <a [routerLink]="'/board/' + activeBoard">Tasks/Board</a>
            <a routerLink="/administration/{{user.uid}}">Administration</a>
            <a [routerLink]="'/account'">Account</a>
        </div>

    </mat-menu>

    <div *ngIf="!smartphonemenu">
        <a routerLink="/projects/{{user.uid}}">Projects</a>
        <a [routerLink]="'/board/' + activeBoard">Tasks/Board</a>
        <a routerLink="/administration/{{user.uid}}">Administration</a>
        <a [routerLink]="'/account'">Account</a>
    </div>

</mat-toolbar>

<div>
    <router-outlet></router-outlet>
</div>