<div class="administrationpage-container section2 mt24">

  <div class="archiv-container">
    <h2>Archiv View</h2> 
      <mat-form-field class="example-form-field">
          <mat-label>search your Project</mat-label>
          <input id="myInput" matInput type="text" [matAutocomplete]="search"> 
          <mat-autocomplete #search="matAutocomplete">
            <mat-option>
              <!-- <mat-form-field></mat-form-field> -->
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
  </div>

  <div class="mt24">
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container">
        <table mat-table [dataSource]="tasks" class="example-table"
          matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

          <ng-container matColumnDef="Created">
            <th mat-header-cell *matHeaderCellDef>Created</th>
            <td mat-cell *matCellDef="let row">{{ row.creationdate | date:'dd.MM.yyyy' }}</td>
          </ng-container>  

          <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef>State</th>
            <td mat-cell *matCellDef="let row">{{ checkPriorityName(row.color) }}</td>
          </ng-container>

          <ng-container matColumnDef="number">
           <th mat-header-cell *matHeaderCellDef>#</th>
           <td mat-cell *matCellDef="let row">{{row.number}}</td>
          </ng-container>

          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef>Text</th>
            <td mat-cell *matCellDef="let row">{{row.text}}</td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>

  <canvas #myChart width="400" height="400"></canvas>

</div>