<div class="administrationpage-container section2 mt24">

    <div class="archiv-container">

        <h2>Archiv View</h2> 

        <mat-form-field class="example-form-field">
            <mat-label>search your Project</mat-label>
            <input autocomplete="off" matInput type="text" id="search" onkeydown="filterNames()">
             <!-- <button matSuffix mat-icon-button (click)="value=''">
            </button> -->
            <ul id="list">

            </ul>
        </mat-form-field>
    </div>

</div>