.archiv-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
      position: absolute;
      right: 30px;
      top: 30px;
    }
} 

.example-form-field {
    width: 200px;
}

/* Structure */
.example-container {
    position: relative;
}
  
.example-table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    overflow-x: hidden;
}
  
table {
  width: 100%;
}
  
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}
  
  /* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}
  
.mat-column-created {
  max-width: 124px;
}

th.mat-header-cell:first-of-type {
  min-width: 100px;
}

th.mat-header-cell {
  min-width: 100px;
}

@media (max-width: 600px) {
  .example-table-container {
    overflow: auto;
    overflow-x: auto;
  }

  canvas {
    display: none;
  }
}


