/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.placeelementscollum {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section {
    padding-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
}

.section2 {
    padding-left: 60px;
    padding-right: 60px;
}

.padding-left-right-smartphone {
    padding-left: 20px;
    padding-right: 20px;
}

.mt24 {
    padding-top: 24px;
}

@media (max-width: 600px) {
    .section2 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 600px) and (max-width: 740px) and (orientation: landscape) {
    .section2 {
        padding-left: 30px;
        padding-right: 30px;
    }
}
