<div class="account-container section2 mt24">

    <div class="account-settings-container">
     <h1>Account setting</h1>
      <div class="abc">
        <p>Delete your Account finally</p>
        <button (click)="deleteuserAccount()">Delete</button>
      </div>
      <div class="emojie-place">
        <div class='container'>
          <div class='face'>
              <div class='eye'></div>
              <div class='eye'></div>
              <div class='mouth'></div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="button-section-container">
     <button (click)="logout()">Log out</button>
    </div>
</div>



