<div class="account-container section2 mt24">

    <div class="account-settings-container">
     <h1>Account setting</h1>
      <div class="setting-box">
        <p>Delete your Account finally</p>
        <button (click)="deleteuserAccount()">Delete</button>
      </div>
      <div class="setting-box">
        <p>User defined projects</p>
        <button (click)="showreleaseInfo()">Select</button>
      </div>
      <div class="setting-box">
        <p>Share account</p>
        <button (click)="showreleaseInfo()">Select</button>
      </div>
      <div class="setting-box">
        <p>Add data</p>
        <button (click)="showreleaseInfo()">Select</button>
      </div>
      
    </div>

    <div class="button-section-container">
     <button (click)="logout()">Log out</button>
    </div>
</div>



