.account-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section-container {
    margin-left: 30px;
    width: 550px;
    height: 500px;
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 100px;
        height: 40px;
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

.account-settings-container {
    margin-right: 30px;
    width: 550px;
    height: 500px;
    border-radius: 4px;
    border: 1px solid black;
    .setting-box {
        margin-left: 15px;
        width: 520px;
        height: 100px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 8px;
    }
    button {
        width: 100px;
        height: 40px;
        background-color: darkslategrey;
        color: white;
        cursor: pointer;
    }
    h1 {
        margin-top: 8px;
        text-align: center;
        color: darkred;
        font-weight: bold;
    }
}

.emojie-place {
    width: 550px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {
    .account-container {
        flex-direction: column;
    } 

    .button-section-container {
        margin-left: 0px;
        margin-top: 8px;
        width: 300px;
    }

    .account-settings-container {
        margin-right: 0px;
        width: 300px;
        height: 600px;
        .setting-box {
            margin-left: 10px;
            width: 280px;
            height: 80px;
        }
        button {
            width: 95px;
            height: 32px;
            background-color: darkslategrey;
            color: white;
            cursor: pointer;
        }
        h1 {
            margin-top: 8px;
            text-align: center;
            color: darkred;
            font-weight: bold;
        }
    }

    
      
}